{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Voting System</title>


    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

<div class="login-box">

    <h2>Voter Login</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="error">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <!-- Identifier -->
        <div class="form-group">

            <button type="button" class="google-btn " onclick="showComingSoon()">
                <img src="https://developers.google.com/identity/images/g-logo.png"
                     alt="Google logo" class="google-icon">
                <span>Continue with Google</span>
            </button>
        
            <div class="divider">
                <span>OR</span>
            </div>
        
            <label>Username or Email</label>
            <input type="text" name="identifier" placeholder="Enter username or email" required>
        
        </div>

        <!-- Password -->
        <div class="form-group password-wrapper">
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Enter password" required>
            <span onclick="togglePassword()">👁</span>
        </div>

        <!-- Remember me -->
        <div class="form-group checkbox-group">
            <label>
                <input type="checkbox" name="remember_me">
                Remember me
            </label>
        </div>

        <button type="submit">Sign in</button>
    </form>
    <p class="auth-text">
        Forgot Password?
        <a href="{% url 'accounts:request_password_reset' %}">Reset Password</a>
    </p>

    <p class="auth-text">
        Don’t have an account?
        <a href="{% url 'students:register' %}">Sign Up</a>
    </p>

    <p class="auth-link">
        <span class="auth-icon">🏠</span>
        <span>Go back to</span>
        <a href="{% url 'landing' %}">Home</a>
    </p>

</div>

<script>
function togglePassword() {
    const field = document.getElementById("password");
    field.type = field.type === "password" ? "text" : "password";
}
</script>
<script>
    function showComingSoon() {
        alert("Coming Soon 🚀 Google login will be available in a future update.");
    }
    </script>
</body>
</html>